@charset "utf-8";
/* CSS Document */
 #banner { 
 background-color:#FD8D00 ;
 text-align: center; 
 }
 #nav_bar{
	 text-align: center;
	 background-color:#FFFFFF;
 }
 #content{
	font-size: 18px;
	text-align: justify; 
	background-color:#FFFFFF;
	padding: 20px;	
 }
 #footer{
	 text-align:center;
	 font-size: 9px;
	 font-style:italic;
 }
 body{
	 background-color:#0948F1;
 }
	